*/node_modules/


#amplify-do-not-edit-begin
ShoppingApp-Frontend/amplify/.config/local-*
ShoppingApp-Frontend/amplify/logs
ShoppingApp-Frontend/amplify/mock-data
ShoppingApp-Frontend/amplify/mock-api-resources
ShoppingApp-Frontend/amplify/backend/amplify-meta.json
ShoppingApp-Frontend/amplify/backend/.temp
ShoppingApp-Frontend/build/
ShoppingApp-Frontend/dist/
ShoppingApp-Frontend/node_modules/
ShoppingApp-Frontend/src/aws-exports.js
ShoppingApp-Frontend/awsconfiguration.json
ShoppingApp-Frontend/src/amplifyconfiguration.json
ShoppingApp-Frontend/amplifyconfiguration.dart
ShoppingApp-Frontend/amplify-build-config.json
ShoppingApp-Frontend/amplify-gradle-config.json
ShoppingApp-Frontend/amplifytools.xcconfig
ShoppingApp-Frontend/.secret-*
ShoppingApp-Frontend/**.sample

Database/data
#amplify-do-not-edit-end
